<main ng-controller="PokemonsController as poks">
    <div class="container">
        <div class="col-xs-12 big-spinner-block" ng-show="initialLoad">
            <span><span class="glyphicon glyphicon-refresh spinner"></span> Loading...</span>
        </div>
        <div class="col-sm-8 col-xs-6">
            
            <div class="col-md-4 col-xs-12 col-sm-6 text-center" ng-repeat="pokemon in pokemons">
                <figure class="pokemon-unit" ng-click="showDetailView($index)">
                    <img ng-src="http://pokeapi.co/media/img/{{pokemon.national_id}}.png" alt="Image of pokemon">
                    <figcaption>
                        {{pokemon.name}}
                    </figcaption>
                    <div class="tags text-left">
                        <span class="tag" ng-class="tag-{{tag.name}}" ng-repeat="tag in pokemon.types">{{tag.name}}</span>
                    </div>
                </figure>
            </div>
            <div class="col-xs-12" ng-show="pokemons">
                <button ng-click="loadPokemons()" type="button" class="btn btn-primary btn-lg btn-block">
                    <span ng-show="isLoading"><span class="glyphicon glyphicon-refresh spinner"></span> Loading...</span>
                    <span ng-hide="isLoading">Load More</span></button>
            </div>
        </div>
    </div>
    <div ng-include="'app/components/pokemons/selected.html'"></div>
</main>