/*   CSS reset     */
html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, a, em, img, strong, ol, ul, li, fieldset, form, label, legend,
caption, article, aside, canvas, figure, figcaption, 
footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*global styles*/
body {
    font-family: sans-serif;
    color: #4a4a4a;
    min-width: 1150px;
}

section, .head-wrap, .foot-wrap {
    width: 80%;
    min-width: 1100px;
    margin: auto;
}

.delimiter {
    border-bottom: 2px dotted #d2d2d2;
}

nav li {
    display: inline-block;
} 

/*header and its descendants*/
header {
    height: 40px;
    background: #484848;
    color: #919191;
}

.head-wrap {
    padding-top: 9px;
}

.login * {
    display: inline-block;
}

    header nav {
        float: left;
    }

    header a {
        color: #919191;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;
        margin-right: 15px;
    }

.login {
    float: right;
}

    .login p, .login [type=submit] {
        text-transform: uppercase;
        font-size: 12px;
    }

    .login p {
        margin-right: 10px;
    }

    .login [type=text], .login [type=password] {
        font-size: 10px;
        padding: 6px 8px;
        background: #373737;
        color: #919191;
        outline: none;
    }

    .login input {
        border-radius: 5px;
        border: none;
    }

    .login [type=submit] {
        height: 22px;
        background: #ec4444;
        color: #fff;
    }

    .login [type=submit]:hover {
        cursor: pointer;
    }

/*main section and its descendants*/
.main {
    height: 545px;
}

.logo {
    padding: 15px 0;
}

.main nav {
    height: 40px;
    background: #e3e3e3;
    border-radius: 2px;
    font-size: 12px;

}

.main nav ul {
    float: left;
    display: flex;
    border-right: 1px solid #eaeaea;
}

.main nav li {
    /*padding: 13px 16px;*/
    border-right: 1px solid #d3d3d3;
     
}

.main nav li:not(:first-child) {
    border-left: 1px solid #eaeaea;
}

.main nav li:hover {
    background: #d3d3d3;
}

.main a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #484848;
    padding: 13px 16px;    
}

.main form {
    display: inline-block;
    float: right;
    padding: 6px 5px;
    position: relative;
}

.main [type=search] {
    height: 28px;
    width: 225px;
    border: none;
    outline: none;
    background: #4a4a4a;
    border-radius: 2px;
    color: #8a8a8a;
    padding: 9px 10px;
}

.main [type="search"]::-webkit-search-cancel-button {
    display: none;
}

.main [type=submit] {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 200px;
    bottom: 6px;
    background: url(images/search.png) no-repeat 50% 50%;
    border: none;
}

    .main [type=submit]:hover {
        cursor: pointer;
    }

h1 {
    font-size: 76px;
    color: #ec4444;
    margin-left: 16px;

}

.main > ul {

    list-style: none;

    margin-left: 26px;
    margin-top: 15px;
    font-size: 12px;
    color: #999;
    line-height: 150%;
}

.main > ul li:before {
  content: "•";
  color: #44a7ec;
  padding-right: 15px;
}

.left, .right {
    float: left;
    height: 290px;
    margin: 80px 0 50px 0;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.left a {
    margin-top: 40px;
    padding: 0 16px;
}

.right img {
    float: right;
}

/*products section and its descendants*/
.products {
    height: 265px;
}

h2 {
    font-size: 40px;
    color: #484848;
    margin-top: 26px;
}

.product {
    display: inline-block;
    border: 1px solid #ededed;
    width: 224px;
    height: 122px;
    margin: 28px 18px 0 0;
    position: relative;
}

    .product:hover {
        cursor: pointer;
    }

h4 {
    font-size: 18px;
    color: #42a7ed;
    margin: 10px;
    width: 50%;
}

.product p {
    color: #9a9a9a;
    font-size: 10px;
    line-height: 150%;
    margin: 16px 10px;
    width: 50%;
}

.product img {
    position: absolute;
    bottom: -10px;
    right: -10px;
}

/*blog section and its descendants*/
.blog {
    height: 445px;
}

h3 {
    font-size: 22px;
    color: #43a8ec;
}

.blog p {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    line-height: 150%;
}

article {
    float: left;
    width: 47%;
    margin: 30px 0 8px 0;
}

    article img {
        margin-top: 16px;
    }

    article p {
        width: 458px;
    }

p a {
    color: #44a7ec;
}

/*about section and its descendants*/
.about {
    height: 315px;
}

.about-us, .twitter {
    float: left;
    width: 47%;
}

.about h2 {
    margin: 30px 0 23px 0;
}

.about p {
    font-size: 12px;
    color: #999;
    
    line-height: 150%;
}

.about-us p, .twitter p {
        width: 458px;
    }


.about a {
    color: #44a7ec;    
}

.about-us a {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
}

.twitter a {
    font-size: 10px;
}

.twitter p {
    margin-bottom: 10px;
}

/*footer and its descendants*/
footer {
    height: 70px;
    background: #484848;
}

    footer p {
        font-size: 12px;
        color: #999;
        
    }

.copyright {
    width: 50%;
    float: left;
    height: 70px;
}

    .copyright p {
        margin-top: 29px;
    }


.social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 15px;
    vertical-align: middle;
    float: right;
}

  .social a.tw {
    background: url(images/icons/tw.png) left top no-repeat;
    background-size: 40px 80px;
  }
  .social a.fb {
    background: url(images/icons/fb.png);
    background-size: 40px 80px;
  }
  .social a.su {
    background: url(images/icons/su.png);
    background-size: 40px 80px;
  }
  .social a.vi {
    background: url(images/icons/vi.png);
    background-size: 40px 80px;
  }
  .social a:hover { background-position: left -40px; }