body {
	font-family: sans-serif;
	color: #555;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
h1 { text-align: center; }
.handling,
.output {
	width: 520px;
	float: left;
	margin: 0 20px;
	border: 1px solid #ccc;
	padding: 10px;
	height: 800px;
	overflow-y: auto;
}
textarea,
input {
	width: 300px;
	border: 3px solid #ccc;
	padding: 5px;
}
textarea {
	height: 320px;
	vertical-align: middle;
}
button {
	height: 30px;
	border: 3px solid #ccc;
	background: linear-gradient(#fff, #eee);
	cursor: pointer;
}
.helpers {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 2px dotted #ccc;
	border-top: 1px dotted #ccc;
	list-style: none;
}
.helpers li {
	margin: 5px 0;
}
input[type=number] {
	width: 40px;
}