body {
    font-family: sans-serif;
}
.tag-list {
    width: 50%;
    margin: 50px auto;
}
.edit span {
    color: #068;
    border-bottom: 1px dashed #068;
    white-space: nowrap;
    margin-right: 20px;
}
.edit span:last-child {
    display: none;
}
.edit span:hover {
    cursor: pointer;
}
.tags {
    margin: 25px 0 15px;
    line-height: 170%;
}
.tags span {
    background: #999;
    color: #fff;
    padding: 3px 5px;
    margin-right: 5px;
    margin-left: 0;
    white-space: nowrap;
}
.tags .cross {
    margin-left: 5px;
    border-left: 2px solid #888;
    padding-right: 0;
    margin-right: 0;
    display: none;
}
.cross:hover {
    cursor: pointer;
}
.add-tag {
    white-space: nowrap;
    display: none;
}
input {
    outline: none;
}
input[type=text] {
    width: 80%;
    box-sizing: border-box;
    padding: 5px;
}
input[type=text], input[type=submit] {
    height: 30px;
}
input[type=submit] {
    background: #0bf;
    border: 0;
    padding: 5px 10px;
    color: white;
}
input[type=submit]:hover {
    cursor: pointer;
    background: #1cf;
}