/*---------------GLOBAL-------------------*/
html,
body {
	height: 100%;
	
	color: #fff;

}
body {
	font: 62.5% "pt_sans_narrowregular", sans-serif;
}
.wrapper {
	background: #080b22;
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.icon {
	display: inline-block;
	line-height: 0;
}
i.icon {
	cursor: pointer;
}
.temp:after { content: "\00B0"; }
.percent:after { content: "%"; }
.speed:after { content: "m/s"; }
.left { float: left; }
.right { float: right; }
.icon {
	color: #fff;
	text-decoration: none;
}
* {
	box-sizing: border-box;
}
/*---------------MAIN CONTENT-------------------*/

#main-panel {
	width: 67.70833333333334%; /* 1300/1920 */
}
.figures,
.forecast {
	width: 46.153846153846156%; /* 600/1300 */
	float: left;
	/* margin: 20px; */
	margin: 1.5384615384615385%; /* 20/1300 */
}
.slide {
	float: left;
	width: 10%;
}
.slides {
	position: relative;
	width: 1000%;
}
.pagination {
	position: absolute;
	bottom: 5%;
	left: 30%;
}
.page {
	width: 20px;
	height: 20px;
	border: 3px solid #fff;
	border-radius: 50%;
	float: left;
	margin: 15px;
}
.page:hover {
	cursor: pointer;
}
.page.active {
	background: #fff;
}

/*---------------.figures-------------------*/
.current-time {
	font-size: 3em;
}
header .icon {
	font-size: 5em;
	vertical-align: middle;
	line-height: 1.05;
	height: 1em;
}
.figures header {
	text-transform: uppercase;
}
.city {
	font-size: 7.5em;
	letter-spacing: .2em;
}
.current-date {
	font-size: 4em;
	letter-spacing: .15em;
}
.current-weather > .icon {
	font-size: 17em;
}
.today-temp {
	font-size: 10em;
}
.temperature .caption {
	font-size: 2em;
}
.moon {
	float: right;
}
.moon .icon {
	font-size: 8em;
}
.moon time {
	font-size: 3em;
	display: block;
}
.current-weather {
	border-bottom: 3px solid #464859;
	padding: 3em 0 6em;
}
.current-weather > div {
	display: inline-block;
}
.weather-today {
	font-size: 4em;
}
.weather-today li {
	display: inline-block;
	float: left;
}
.weather-today .holder {
	overflow: auto;
	position: relative;
}
.hourly-forecasts {
	width: 600%;
	padding: 25px 0 35px;
	padding: .625em 0 .875em;
}
.hourly-forecast {	
	text-align: center;
	width: 4.166666666666667%; /* 100% / 24 */
}
.hourly-forecasts:after {
	content: "";
	display: block;
	clear: both;
}
.hourly-forecasts .time {
	font-size: .5em;
}
.hourly-forecasts .icon {
	font-size: 1.5em; /* 60/40 */
	vertical-align: middle;
}
.hourly-forecasts .temp {
	font-size: 1em;
}
.parameters {
	padding: 1em 0;
	overflow: hidden;
}
.parameters .icon {
	font-size: 1.75em;
}
.parameter {
	width: 25%;
	text-align: center;
}

/*---------------.forecast-------------------*/
.forecast {
	background: rgba(255,255,255,.2);
	margin-top: 3.5em;
}
.days {
	width: 88.33333333333333%; /* 530/600 */
	margin: 0 auto;
}
.weekday {
	font-size: 3.5em;
	padding: 1em 0;
	border-top: 3px solid #6b6d7a;
}
.weekday:first-child {
	border: none;
}
.day {
	text-transform: uppercase;
}
.weekday .icon {
	float: right;
	font-size: 1.4285714285714286em;
}
.weekday .holder {
	width: 28.30188679245283%; /* 150/530 */
	display: inline-block;
}
.temp-range {
	display: inline-block;
	width: 49.056603773584906%; /* 260/530 */
	text-align: center;
	margin: 0 4.716981132075472%; /* 25/530 */
}
.temp-range .space {
	display: inline-block;
	width: 50%; /* 130/260 */
	height: 30px;
	background: #fff;
	border-radius: 11px;
	vertical-align: middle;
	margin: -5px 5px 0;
}
/*---------------sidebar-------------------*/
#sidebar {
	width: 32.03125%; /* 615/1300 */
	background: #081322;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	-webkit-transition: all 1s;
	transition: all 1s;
	
}
#sidebar.sidebar-hidden {
	right: -32.03125%;
}
.sidebar-wrapper {
	position: relative;
	height: 100%;
}
.controls {
	position: absolute;
	background: #152132;
	width: 100%;
	bottom: 0;
}
.menu .icon-menu {
    float: left;
    position: absolute;
    left: -60px;
    top: 18px;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
}
.menu .icon-menu.active-menu {
    left: 40px;
}
.menu .icon-check {
	display: none;
}
.menu .icon-delete,
.menu .icon-add,
.menu .icon-check {
    float: right;
    cursor: pointer;
}
.menu .icon-add {
    margin-right: 20px;
}
.icon-delete:hover,
.icon-add:hover,
.icon-check:hover {
    color: #ff4200;
}
.search-form {
    float: right;
    width: 50%;
    margin-right: 25px;
    display: none;
}
.search-form input {
    outline: none;
    background: #c1c4c8;
    color: #000;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 18px;
    font-size: 3em;
    padding: 0 15px;
}
.pac-container{
    font-family: "ptsans", "Myriad Pro", Arial, sans-serif;
    width: 32.03125% !important;
    height: 56%;
    top: 75px !important;
    left: 68% !important;
    background: #081322;
    border: 0;
}
.pac-container::after{
    display: none;
}
.pac-icon{
    display: none;
}
.pac-item {
    font-size: 3em;
    cursor: pointer;
    border-top: 0;
    color: #c1c4c8;
    border-bottom: 3px solid rgba(255,255,255,.25);
    display: block;
    padding: 30px 5px 20px 10px;
    margin-left: 40px;
}
.pac-item-selected {
	background: #081322;
}
.pac-item:hover{
    background: #081322;
}
.pac-item-query{
    color: #fff;
    font-size: 1em;
}
.pac-item > span:last-child {
	font-size: .5em;
	margin-left: 20px;
}
.menu {
	overflow: hidden;
	border-bottom: 3px solid rgba(255,255,255,.25);
}
.menu .icon {
  font-size: 3.5em;
  line-height: 1;
  height: 1em;
}
.inner-holder {
	width: 91.93548387096774%; /* 570/620 */
	padding: 3.508771929824561% 3.508771929824561% 3.508771929824561% 0; /* 20/570 */
	overflow: hidden;
	border-bottom: 3px solid rgba(255,255,255,.25);
	float: right;
}
.inner-holder:last-child {
	border-bottom: none;
}
.inner-holder .icon {
	margin-right: .5em;
	font-size: 4em;
}
.inner-holder > div {
	float: left;
}
.inner-holder .right {
	float: right;
}
.inner-holder .temp {
	font-size: 6em;
	line-height: 1;
	margin-right: .333333em;
}
.controls .inner-holder:not(:first-child) {
	padding: 5.454545454545454% 10% 10.909090909090909% 3.636363636363636%;
}
.cities {
	height: 56%;
	overflow: auto;
	margin-right: -22px;
}
.cities .inner-holder {
	cursor: pointer;
}
.cities .icon {
	font-size: 6em;
	color: rgba(255,255,255,.25);
}
.city-name {
	font-size: 3em;
}
.cities .caption {
	color: rgba(255,255,255,.25);
	font-size: 2em;
}
.units {	
	font-size: 4em;
}
.units > label:first-child:after {
	content: '';
	border-right: 2px solid rgba(255,255,255,.25);
	margin: 0 20px;
}
.units [type=radio] {
	display: none;
}
.units span {
	color: rgba(255,255,255,.25);
}
.units [type=radio]:checked + span {
	color: #fff;
}
.filter-description,
.filter-selected {
	font-size: 2.5em;
	display: inline-block;
}
.filter-description {
	color: rgba(255,255,255,.25);
	text-transform: uppercase;
	float: left;
	margin: 0 0 1em;
}
.filter-selected {
	float: right;
	margin: 0 .6em;
}

/*---------range slider----------*/
.rangeslider__handle {
	width: 30px;
	height: 30px;
	top: -12.5px;
}
.rangeslider__handle:after {
	background: #081322;
	width: 15px;
	height: 15px;
}
.rangeslider__fill {
	background: #ff4200;
}
.rangeslider, .rangeslider__fill {
	height: 5px;
}
.rangeslider {
	background: #0a1019;
	clear: both;
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; 
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
	-moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}